sudo: enabled
language: java
jdk:
  - openjdk8

services:
  - docker
  
branches:
  only:
    - develop-gcr

cache:
  directories:
  - '$HOME/.m2/repository'
env:

before_install:
  #[Start Install kubernetes CLI]        
  - curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.18.0/bin/linux/amd64/kubectl && chmod +x kubectl && sudo mv kubectl /usr/local/bin/
  - kubectl version --client
  #{End Tnstall Kubernetes CLI]
  - curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64 && chmod +x skaffold && sudo mv skaffold /usr/local/bin/
  #[Start Authorize]
  # - cp $SERVICE_HOME/client_api_key.json $SERVICE_HOME/api_key.json
  #- sed -i "s/#PROJECT_ID/$PROJECT_ID/g" api_key.json
  #- sed -i "s/#PRIVATE_KEY_ID/$PRIVATE_KEY_ID/g" api_key.json
  #- sed -i "s/#PRIVATE_KEY/$PRIVATE_KEY/g" api_key.json
  #- sed -i "s/#CLIENT_EMAIL/$CLIENT_EMAIL/g" api_key.json
  #- sed -i "s/#CLIENT_ID/$CLIENT_ID/g" api_key.json
  #- cd $SERVICE_HOME
  #- cat api_key.json
  - export GOOGLE_APPLICATION_CREDENTIALS="$SERVICE_HOME/client_api_key.json"
  - gcloud config set project $PROJECT_ID
  - gcloud -q auth activate-service-account --key-file ${GOOGLE_APPLICATION_CREDENTIALS}
  - gcloud container clusters get-credentials $GCLOUD_CLUSTER_NAME --zone=$GCLOUD_ZONE
  #[End Authorize]

script:
  - kubectl version --client -ojson
  - cd $SERVICE_HOME/users-detail-service
  - skaffold run -p dev
  - cd ../users-service
  - skaffold run -p dev
